* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Exo 2', sans-serif;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    background: #05A88D;
    
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    border-bottom: 1px solid #FFFFFF;

}

.footer__left {
    
}

.footer__right {

}

.footer__bottom {
    margin: 0 40px;
}

a {
    text-decoration: none;
}